#close-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: block;
  width: 15px;
  height: 15px;
}

.currencyItem {
  position: relative;
  margin-bottom: 20px;
}

p {
  &.description {
    margin-bottom: 10px;
  }
}